@charset "UTF-8";

body{
    max-width: 100%;
    margin: 0 auto;
}

#logo{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 25px;         /* 文字の大きさ（お好みで調整してください） */
    font-weight: normal;     /* 太字（bold）にせず、すっきりと細めに */
    letter-spacing: 0.1em;   /* 文字と文字の間隔を少しだけ空けるとおしゃれになります */
}

header{
    display: flex;
    gap: 300px;
    justify-content: space-between;
    padding: 0 100px;
    
}

#button-reserve{
    background-color: #2c5e3b; /* お好みの緑色を指定してください */
    color: #fff;               /* 文字の色を白にする */
    padding: 10px 20px 10px 20px;         /* 上下と左右の余白（これで四角いボタンっぽくなります） */
    border-radius: 4px;        /* 角を少し丸くする（直角にしたい場合はこの行を消してください） */
    display: inline-block;     /* 文字の長さに合わせたボタンサイズにする */
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
}

nav{
    display: flex;
    gap: 30px;
    margin: auto 0;
}

nav a{
    color: #000;
    text-decoration: none;
}

#header-inner{
    display: flex;
    gap: 100px;
}

#hero{
    position: relative;
    width: calc(100% + 150px);
    height: 400px;
    overflow: hidden;
    margin-left: -150px;
}

#hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.hero-content{
    position: absolute;
    text-align: left;
    bottom: 10px;
    left: 100px;
    transform: translateY(-50%);
    color: #fff;
    z-index: 10;
}

.hero-content h1{
     font-family: Georgia, "Times New Roman", serif;
    font-size: 50px;         /* 文字の大きさ（お好みで調整してください） */
    font-weight: normal;     /* 太字（bold）にせず、すっきりと細めに */
    letter-spacing: 0.1em;   /* 文字と文字の間隔を少しだけ空けるとおしゃれになります. 

    ・font-sizeにemを使う場合→親要素のフォントサイズが基準になる
    ・font-size以外(letter-spacingやpaddingなど)にemを使う場合→その要素自信のフォントサイズが基準になる*/
}

.hero-content p{
    line-height: 1.9;
}

#hero-text{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    text-decoration: none;
}

main{
    text-align: center;
    padding-left: 150px;
}

#contact form{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    
}

#about{
    display: flex;
    text-align: left;
    gap: 50px;
    padding: 30px 0;
}

#about h2{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 35px;         /* 文字の大きさ（お好みで調整してください） */
    font-weight: normal;     /* 太字（bold）にせず、すっきりと細めに */
    letter-spacing: 0.1em;   /* 文字と文字の間隔を少しだけ空けるとおしゃれになります */
}

#about img{
    border-radius: 7px;
}

.underline {
    border-bottom: 2px solid #000; /* 下線の太さと色（お好みで変更してください） */
    padding-bottom: 4px;              /* 文字と下線の間の隙間 */
}

#menu{
    background-color: #f8f4f4;
    width: calc(100% + 150px);
    margin-left: -150px;
}


.menu-inner{
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 40px;
    max-width: 1060px;
}

.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu-header h2{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 35px;         /* 文字の大きさ（お好みで調整してください） */
    font-weight: normal;     /* 太字（bold）にせず、すっきりと細めに */
    letter-spacing: 0.1em;   /* 文字と文字の間隔を少しだけ空けるとおしゃれになります */
}

dd{
    margin-inline-start: 0;
}

#menu-txt{
    display: flex;
    gap: 15px;
}

#menu-txt p{
    gap: 30px;
    width: 50px;
    background-color: #c5c1c1;
    border-radius: 40px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

#menu-txt p.active{
    background-color: #2c5e3b;
    color: #fff;
}

#menu-img{
    display: flex;
    gap: 20px;
}

#menu-img img{
    width: 160px;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
}

#menu-img dl{
    background-color: #fff;
    margin: 0;
    padding: 5px;
    border-radius: 4px;
    text-align: left;
    height: 145px;
    line-height: 2;
}

.menu-card{
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 200px;
}

.menu-card.is-hidden{
    display: none;
}
#faq{
    display: block;
    margin-left: -150px;
}

#faq-wrapper{
    display: flex;
    text-align: left;
    gap: 50px;
    background-color: #faf9f9;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#faq img{
    width: 350px;
    height: 290px;
    object-fit: cover;
    border-radius: 8px;
}

.inner-faq{
    display: block;
    margin-top: -36px;
}

.inner-faq h2{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 35px;         /* 文字の大きさ（お好みで調整してください） */
    font-weight: normal;     /* 太字（bold）にせず、すっきりと細めに */
    letter-spacing: 0.1em;   /* 文字と文字の間隔を少しだけ空けるとおしゃれになります */
}


.faq-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 15px 20px;
    margin-bottom: 15px;
    line-height: 2;
    width: 600px;
    cursor: pointer;
}

.faq-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.faq-card h3{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.faq-answer{
    display: none;
    margin: 0;
    font-size: 13px;
    color: #555;
    padding-left: 0;
}

.faq-card.is-open .faq-answer {
    display: block;
}

.faq-content p{
    font-size: 13px;
    color: #555;
}

.faq-icon{
    font-size: 14px;
    color: #333;
    display: inline-block;        /* 変形（transform）を効かせるために必要です */
    transform: scale(1.9, 0.8) translateY(-9px);   /* (横方向の広がり, 縦方向の潰し加減) です */
    transition: transform 0.3s;
}

.faq-card.is-open .faq-icon{
    transform: scale(1.9, 0.8) translateY(-9px) rotate(180deg);
}

.faq-card h3{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    padding-left: 0;
    margin-bottom: 4px;
}
.faq-card p {
    margin: 0;                   /* ブラウザのデフォルトの余白を消す */
    font-size: 13px;             /* ★文字サイズを小さくする（お好みで 12px~14px に調整してください） */
    padding-left: 20px;
}

.inner-form{
    text-align: left;
    margin-bottom: -1px;
    font-size: 12px;
}

#access{
    display: flex;
    position: relative;
}

#text-access{
    text-align: left;
}

#form-wrapper{
    display: flex;
    gap: 30px;
}

#access h2{
    font-family: Georgia, "Times New Roman", serif;
    font-weight: normal;     /* 太字（bold）にせず、すっきりと細めに */
    letter-spacing: 0.1em;   /* 文字と文字の間隔を少しだけ空けるとおしゃれになります */
}

#access img{
    width: 210px;
    height: 180px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 0px;
}

#inquire{
    margin-top: 3px;
    height: 60px;
}

#under{
    display: flex;
    padding-bottom: 12px;
}

.under-content{
    font-size: 20px;
}

#access,#contact{
    flex: 1;
}

#footer{
    display: flex;
    color: #fff;
    background-color: #2c5e3b;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

#footer-logo{
    margin-bottom: 50px;
}

#footer-menu{
    display: flex;
    gap: 50px;
}

#footer-center{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0px;
}

#contact input,
#contact textarea {
    width: 100%;           /* フォームの幅いっぱいに広げる */
    box-sizing: border-box; /* 枠線や余白を含めて幅をきれいに収める */
}

#contact h2{
    font-family: Georgia, "Times New Roman", serif;
    font-weight: normal;     /* 太字（bold）にせず、すっきりと細めに */
    letter-spacing: 0.1em;   /* 文字と文字の間隔を少しだけ空けるとおしゃれになります */
    text-align: left;
}

#icon img{
    width: 30px;
    height: auto;
    margin: 0 10px;
}

#send{
    background-color: #2c5e3b;
    color: #fff;
    width: 180px;
    text-align: center;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}